PRODUCTION=
#OAUTH2
OAUTH2_SECRET_KEY=
OAUTH2_ALGORITHM=
OAUTH2_ACCESS_TOKEN_EXPIRATION_MINUTES=
OAUTH2_REFRESH_TOKEN_EXPIRATION_DAYS=
#POSTGIS CREDENTIALS
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
#MONGODB CREDENTIALS
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_NAME=
MONGO_COLLECTION=
#REDIS CREDENTIALS
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
#MQTT BROKER
MQTT_BASETOPIC=
MQTT_HOST=
MQTT_PORT=
MQTT_QOS=
MQTT_KEEPALIVE=
MQTT_BRIDGE_USERNAME=
MQTT_BRIDGE_PASSWORD=
MQTT_BRIDGE_CLIENT_ID=
PLACES_API_KEY=
#OSRM
OSRM_HOST=
FIREBASE_CREDENTIALS_PATH=
FIREBASE_CREDENTIALS_JSON=
#BROKER
BROKER_KEY=
