MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=testsim7000/+/+/+
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=mqtt-mongodb-bridge
MQTT_KEEPALIVE=60
MQTT_QOS=1

MONGO_URI=mongodb://localhost:27017
MONGO_DB=tesis
MONGO_COLLECTION=bus_positions_history

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
